.container-footer-start{
    height: 50vh;
    width: 100%;
    background: url('/img/footer-bg.jpg') no-repeat;
    background-size: cover;
    padding: 20px 30px;
    // logo di background con relativa img
    .bg-logo{
        height: 50%;
        img{
            width: 30%;
            height: 100%;
            right: 20%;
            bottom: -5%;
        }
    }
    // navbar del footer 
    .footer-nav{
        div{
            margin: 15px;
            h3{
                color:white;
                margin: 5px 0;
            }
            ul{
                list-style: none;
                padding-left: 0;
                li{
                    color:grey;
                    font-size: 12px;
                    margin-left: 0;

                    cursor: pointer;
                    &:hover{
                        color: white;
                    }
                }
            }
        }
    }
}
// seconda parte footer
.container-footer-end{
    background-color: #161616;
    height: 20vh;
    width: 100%;
    // bottone interno
    button{
        color:white;
        background-color: #191919;
        padding: 15px;
        border:2px solid #107ae7;
    }
    // contenitore dei socials con testo + img
    .socials{
        h3{
            color: #107ae7;
            margin-right: 10px;
        }
        img{
            padding: 0 5px;
        }
    }
}