main{
    background-color: #191919;
}

// custom card
.card{
    width: calc(100% / 6 - 20px);
    background-color: transparent;
    margin-left: 20px;
    cursor: pointer;
    .text-box{
        color: white;
    }
}
.button-container{
    width: 100%;
    button{
        background-color:#107ae7;
        color: white;
        border: none;
        padding: 10px 40px;
        font-weight: bold;
    }
}

 // banner
 .banner{
    color:white;
    background-color: #107ae7;
    top: -30px;
    font-weight: bold;
    padding: 20px 50px;
    font-size: 30px;
}